zxing-scanner {
    max-width: 100%;
  }
  
  header {
    position: sticky;
    top: 0;
    padding: 5px;
    background: white;
  
    select {
  
      --color: #0a6fc2;
  
      width: 100%;
      padding: 10px;
      border-radius: 16px;
      background: none;
      border: 1.5px solid var(--color);
      color: var(--color);
      cursor: pointer;
  
      option {
        padding: 10px;
        line-height: 2;
        background: white;
        color: #0a6fc2;
      }
    }
  }

  .teste {
   width: 100% !important;
   height: 100% !important;
  }
  
  .results {
    bottom: 0;
    padding: 15px;
    background: #0a6fc2;
    color: #fff;
  
    small {
      font-weight: bolder;
      display: block;
      font-size: 80%;
      margin: -.6em 0 0 0;
    }
  }
  
  footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    .table-scanner-state {
      thead {
        display: none;
      }
    }
  }