<div class="scanner-shell" [hidden]="!existeDispositivoDeCamera">
  <header>
    <select (change)="onDispositivoDeCameraSelecionado($event.target.value)">
      <option value="" [selected]="!dispositivoCamera">Nenhum dispositivo selecionado</option>
      <option *ngFor="let device of camerasDisponiveis" [value]="device.deviceId"
        [selected]="dispositivoCamera && device.deviceId === dispositivoCamera.deviceId">{{device.label}}</option>
    </select>
  </header>

  <zxing-scanner #scanner [autofocusEnabled]="true" [device]="dispositivoCamera" [scannerEnabled] ="habilitarLeitor"
    (scanSuccess)="onSucessoLerCodigoBarras($event)" [formats]="['EAN_13']" [tryHarder]="true"></zxing-scanner>

  <section class="results" *ngIf="codigoDeBarras">
    <small>Resultado:</small>
    <strong>{{ codigoDeBarras }}</strong>
  </section>
</div>

<ng-container *ngIf="temPermissao === undefined">
  <h2>Esperando por permissões.</h2>
  <blockquote>
    Se o seu dispositivo não tiver câmeras, nenhuma permissão será solicitada.
  </blockquote>
</ng-container>

<ng-container *ngIf="temPermissao === false">
  <h2>Você negou a permissão da câmera, não podemos digitalizar nada sem ela. 😪</h2>
</ng-container>

<ng-container *ngIf="existeDispositivoDeCamera === undefined">

  <h2>Não foi possível verificar se há dispositivos.</h2>
  <blockquote>
    Isso pode ser causado por algum erro de segurança.
  </blockquote>
</ng-container>

<ng-container *ngIf="existeDispositivoDeCamera === false">
  <h2>Nenhum dispositivo de câmera foi encontrado.</h2>
  <blockquote>
    Acredito que seu dispositivo não possui dispositivos de mídia conectados.
  </blockquote>
</ng-container>