<div class="container-fluid tela-full">
    <img class="engrenagem" src="../../../assets/imagens/engrenagem.png">
    <div class="logo">
        <img width="230px;" src="../../../assets/imagens/logo-unifar.png">
    </div>
    <div class="sticky-top login" (keydown.enter)="logar()">
        <img class="engrenagemLogin" src="../../../assets/imagens/engrenagem.png">
        <input type="tel" mask="000.000.000-00" [(ngModel)]="cnpj" class="form-control" placeholder="Digite seu CNPJ">
        <button type="button" class="btn btn-outline-primary btn-block botaoConfirmar" (click)="logar()">Entrar</button>
    </div>
    <div class="fixed-bottom rodape">Syncode Sistemas e Tecnologia</div>
</div>