<div class="container-fluid tela-full">
    <div class="logo">
        <img width="180px;" src="../../../assets/imagens/logo-unifar.png">
    </div>
    <div class="sticky-top login">
        <input type="tel" mask="000.000.000-00" [(ngModel)]="cnpj" class="form-control" placeholder="Digite seu CNPJ">
        <button type="button" class="btn btn-outline-primary btn-block botaoConfirmar" (click)="logar()">Entrar</button>
    </div>
    <div class="fixed-bottom rodape">Syncode Sistemas e Tecnologia</div>
</div>